*{
    margin: 0;
    padding: 0;
    
}
.blue-text{
    color:rgb(51, 173, 255)!important;
}
.bg-unique{
    background-color: grey!important;
}
nav{
    text-transform: uppercase;
}
nav li{
    font-weight: 400;
}
#navbar{
    background-color: #0e0e0e!important;
}
nav{
    position: fixed!important;
    width: 100%!important;
    z-index: 100;
    height: 6rem!important;
}
.navbar-brand img{
    height: 3rem;
    position: relative;
    top: .7rem;
}
.navbar li a:hover{
    color:rgb(51, 173, 255)!important;
}
.dropdown-menu a:hover{
    background-color: #666666!important;
}
.dropdown-item li a {
    font-weight: 700;
}

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -10;
  }
  .carousel{
  }
  .section-1{
      height: 40rem;
      background-color: #0e0e0e!important;
}
.color-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 26rem;
    text-shadow: .6rem .6rem 1rem black;

}
.landing-title, .landing-sub{
    color:white
}
.landing-title{
    font-size: 3.2rem!important;
}
.landing-sub{
    font-size: 2.2rem!important;
}
/*Section 1*/
.section-title {
    color:white;
    top: 2rem;
    position: relative;
    font-size: 2rem;
}
.video{
    position: relative;
}
.info-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
}
.info-text{
    color:white;
    width: 40%;
    margin-left: 3rem;
}
/*Section-2*/
.section-2{
    height: 30rem;
}
.section-2 {
	background: linear-gradient(-45deg,#184d92, #2594fc);
	background-size: 100% 100%;
}

.grad-title{
    color:white;
    font-size: 2rem;
    position: relative;
    top: 3rem;
}
.icon-row{
    display: flex;
    flex-direction: row;
    margin-top: 10rem;
    justify-content: center;
    justify-content: space-evenly;
}
/*Section-3*/
.section-3{
    height: 45rem;
    background-color: #0e0e0e!important;
}
.price-title{
    color:white;
    font-size: 2rem;
    position: relative;
    top: 3rem;
}
.price-info{
    width: 60%;
}
.center-text{
    display: flex;
    justify-content: center;
    color:white;
    margin-top: 4rem;
}
.center-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.card{
    background-color: #181818!important;
    width: 20rem;
    height: 23rem;
    margin-left: 4rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 2rem;
}
.card-title{
    color:white;
}
.card-info{
    color:rgb(158, 158, 158);
}
.card-btn{
    background: transparent!important;
    border: rgb(51, 173, 255) 1px solid;
    height: 2.5rem;
    color:rgb(51, 173, 255);
    margin-top: 3rem;
    transition: 200ms ease all;
}
.card-btn:hover{
    background: rgb(51, 173, 255)!important;
 color:white;
}
/* Footer Section*/
.lower-footer{
    margin-top:.3rem;
  }
  footer{
    position: relative;
  }
  .footer-distributed {
    background-color: #131313;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #bebebe;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #bebebe;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color:rgb(51, 173, 255)!important;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  

  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: rgb(34, 34, 34);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

  @media(max-width:798px) {
    .row-container{
      display: flex;
      flex-direction: column;
    }
    .img-container{
      width: 100%;
      min-width: 100%;
    }
  }
  
  /************BLOG HTML**********/
  .landing-scroll{
    background: url(img/csgo.jpg);
    height: 220vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-attachment: fixed;
  }

  .info-container{
      background: rgba(17, 17, 17, 0.85);
      height: 170vh;
      width: 60%;
      top: 15rem;
      position: relative;
  }
  .center-container{
      display:flex;
      justify-content: center;
  }
  .blog-title{
      color:white;
      padding-top: 3rem;
  }
  .item{
      text-align: left;
      padding-left: 7rem;
      padding-top: 3rem;
  }
  ul {
    list-style-type: none;
  }
  
  ul > li:before {
    content: "–"; 
    position: absolute;
    margin-left: -1.1em; 
  }
  .item-underline{
      width: 90%;
      height: .1rem;
      background: rgb(49, 49, 49);
  }
  .item-blog-title{
      color:rgb(218, 218, 218);
  }
  .item-blog-date{
    color:rgb(170, 170, 170);
  }
  .list-item{
      color:rgb(170, 170, 170);
  }
  .item-list{
      padding-bottom: 3rem;
  }

    /************DOWNLOAD HTML**********/

    .download-landing{
        background: url(img/csgo.jpg);
        height: 105vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
    .download-container{
        height: 80vh;
        width: 80%;
        background:rgb(15, 15, 15);
        margin-top: 10rem;
    }
    .download-title{
        color:white;
        margin-top: 7rem;
    }
    .warning{
        color:grey;
        width: 60%
    }
    .warning-center{
        display: flex;
        justify-content: center;
    }
    .download-col{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .download-btn{
        position: relative;
        top: 5rem;
        left: -21rem;
        background: transparent!important;
        border: rgb(51, 173, 255) 1px solid;
        height: 2.5rem;
        color:rgb(51, 173, 255);
        margin-top: 3rem;
        transition: 200ms ease all;
        width: 20rem;
    }
    .download-video{
        position: relative;
        left: 10rem;
    }

    .download-btn:hover{
        background: rgb(51, 173, 255)!important;
     color:white;
    }